@model Hotel_LandLyst_WebApp.Models.OrderModel

@{
    ViewData["Title"] = "OrderPage";
}
<form asp-action="BookingConfirm">
    <button class="btn btn-primary" style="border-radius:50%;" type="submit">
        <img src="~/images/kurv-ikon.png" width="50" height="50" />
    </button>
    <div class="list-group-horizontal">
        <div class="list-group-item">@Html.DisplayNameFor(m => m.BookedRooms)</div>
        <div class="list-group-item">@Html.DisplayFor(m => m.BookedRooms.Count)</div>
    </div>
</form>

<div class="container bg-dark">
    <div class="row">
        @for (int i = 0; i < Model.Rooms.Count; i++)
        {
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table-bordered w-100 p-3" style="text-align:center;">
                        <thead>
                            <tr class="bg-info">
                                <th>
                                    @Html.DisplayNameFor(x => x.Rooms[i].Number)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.Rooms[i].PricePerNight)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.Rooms[i].Clean)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => x.Rooms[i].Rented)
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="bg-white">
                                <td>
                                    @Html.DisplayFor(x => x.Rooms[i].Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => x.Rooms[i].PricePerNight)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => x.Rooms[i].Clean)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => x.Rooms[i].Rented)
                                </td>
                            </tr>
                        </tbody>
                        @for (int j = 0; j < Model.Rooms[i].Furnitures.Count; j++)
                        {
                            <thead>
                                <tr class="bg-white">
                                    @if (j == 0)
                                    {
                                        <th>
                                            @Html.DisplayNameFor(x => x.Rooms[i].Furnitures[j].Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(x => x.Rooms[j].Furnitures[j].Price)
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white">
                                    <td>
                                        @Html.DisplayFor(x => x.Rooms[i].Furnitures[j].Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.Rooms[i].Furnitures[j].Price)
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                    <ul style="display: inline-block; list-style-type:none;">
                        <li style="margin-left: 10px; display: inline-block; list-style-type: none;">
                            <form asp-action="OrderPage">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="CheckInDate" class="control-label" hidden></label>
                                    <input asp-for="CheckInDate" class="form-control" hidden />
                                    <span asp-validation-for="CheckInDate" class="text-danger" hidden></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CheckOutDate" class="control-label" hidden></label>
                                    <input asp-for="CheckOutDate" class="form-control" hidden />
                                    <span asp-validation-for="CheckOutDate" class="text-danger" hidden></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TotalPrice" class="control-label" hidden></label>
                                    <input asp-for="TotalPrice" class="form-control" hidden />
                                    <span asp-validation-for="TotalPrice" class="text-danger" hidden></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RentingPeriod" class="control-label" hidden></label>
                                    <input asp-for="RentingPeriod" class="form-control" hidden />
                                    <span asp-validation-for="RentingPeriod" class="text-danger" hidden></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rooms" class="control-label" hidden></label>
                                    <input asp-for="Rooms" value="@Model.Rooms" class="form-control" hidden />
                                    <span asp-validation-for="Rooms" class="text-danger" hidden></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BookedRooms" class="control-label" hidden></label>
                                    <input asp-for="BookedRooms" class="form-control" hidden />
                                    <span asp-validation-for="BookedRooms" class="text-danger" hidden></span>
                                </div>
                                <input type="number" value="@Model.Rooms[i].Number" hidden name="roomNumber" />
                                <div class="form-group">
                                    <input type="submit" value="Tilføj rum til kurv" class="btn btn-primary" />
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
